@model Password_Temp;

   

<div class="fs_address" style="font-size: 17px;font-weight: bold;color: rgba(0,0,0,0.6);margin-top: 35px;">
    <form onsubmit="return validate()" asp-action="Password_Edit" asp-controller="Customer" method="post" class="container-fluid">
        <div class="form-group">
            <label for="formGroupExampleInput">Old Password</label>
            <input required asp-for="Password" type="text" class="form-control" id="formGroupExampleInput" placeholder="Old Password">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">New Password</label>
            <input required asp-for="Confirm_Password" type="text" class="form-control" id="formGroupExampleInput2" placeholder="New Password">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Confirm Password</label>
            <input required type="text" class="form-control" id="formGroupExampleInput3" placeholder="Confirm Password">
        </div>

        <button type="submit" class="btn btn-primary" style="padding:10px; border-radius: 25px;font-size: 18px;margin-top: 10px;">Change Password</button>

    </form>



</div>

<script>
    function validate() {
        var val1 = document.getElementById("formGroupExampleInput2").value;
        var val2 = document.getElementById("formGroupExampleInput3").value;
        
        if (val1 != val2) {
            alert("New Password and Confirm Password must be same");
            return false;
        }
       
        return true;

    }
    

</script>