@model User
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Service Provider</title>
    <link rel="stylesheet" type="text/css" href="~/css/style2.css">
</head>
<body>
    <div class="sp_main" style="background-image: url('../images/sp_bg_ig.png');">

        <div class="sp_nav">
            <nav class="navbar navbar-expand-lg contact_navbar fixed-top">
                <a style="margin-left: 10px; margin-top: 13px;" href="#"><img class="faq_nav_logo" src="~/images/white-logo-transparent-background@2x.png"></a>
                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto con_nav_ul">
                        <li class="nav-item active">
                            <a style="" class="nav-link" href="#" id="sp_nav_item_booknow">Book a Cleaner <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a style="" class="nav-link" href="Helperland/Prices" id="sp_nav_item_price">Prices</a>
                        </li>
                        <li class="nav-item">
                            <a style="" class="nav-link" href="#" id="sp_nav_item_war">Our Guarantee</a>
                        </li>
                        <li class="nav-item">
                            <a style="" class="nav-link" href="#" id="sp_nav_item_blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a style="" class="nav-link" href="Helperland/Contact" id="sp_nav_item_con">Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a style="" class="nav-link" href="#" id="sp_nav_item_login" data-toggle="modal" data-target="#exampleModal">Login</a>
                        </li>
                        <li class="nav-item">
                            <a style="" class="nav-link" href="#" id="sp_nav_item_bah">Become a helper</a>
                        </li>
                        <li class="nav-item">
                            <a style="" class="nav-link" href="#" id="sp_nav_item_flag"><img src="~/images/flag@2x.png"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Login to your Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form style="margin-bottom: 15px;">
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                            </div>
                            <button style="width: 90%;margin-top:10px; center;border-radius: 20px;background-color: #3398FF;margin-left: 5%;" type="submit" class="btn">
                                <a href="#" style="color: white;font-size: 18px;">Login</a>
                            </button>
                        </form>

                        <a href="#" id="id_FP" class="F_p" onclick="f1()" data-toggle="modal" data-target="#forgotpassword">Forgot Password?</a>
                        <div class="c_a">Don't have an Account? <a href="/Helperland/New_user">Create an Account</a></div>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="forgotpassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: gray;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form style="margin-bottom: 15px;">
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
                            </div>

                            <button style="width: 90%;text-align: center;border-radius: 20px;background-color: #3398FF;margin-left: 5%;" type="submit" class="btn">
                                <a href="#" style="color: white;font-size: 18px;">Send</a>
                            </button>
                        </form>

                        <a href="#" class="LN" data-toggle="modal" data-target="#forgotpassword">Login now</a>

                    </div>

                </div>
            </div>
        </div>


        <div class="sp_inner_div">
            <div class="sp_inner_div_hd">
                Register Now!
            </div>
            <form asp-controller="Helperland" asp-action="Register_sp" method="post" class="sp_form">
                <div class="form-group">
                    <input asp-for="FirstName" type="text" class="form-control" id="formGroupExampleInput"
                           placeholder="First name">
                </div>
                <div class="form-group">
                    <input asp-for="LastName" type="text" class="form-control" id="formGroupExampleInput2"
                           placeholder="Last name">
                </div>
                <div class="form-group">
                    <input asp-for="Email" type="Email" class="form-control" id="formGroupExampleInput2"
                           placeholder="Email Address">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <input style="background-color: #f4f4f4;color: #4f4f4f;" type="text" class="form-control" id="inputEmail4" value="+46">
                    </div>
                    <div class="form-group col-md-8 sp_mn">
                        <input asp-for="Mobile" type="text" class="form-control" id="inputPassword4" placeholder="Mobile number">
                    </div>
                </div>
                <div class="form-group">
                    <input asp-for="Password" type="password" class="form-control" id="formGroupExampleInput2"
                           placeholder="Password">
                </div>
                <div class="form-group">
                    <input asp-for="Password" type="password" class="form-control" id="formGroupExampleInput2"
                           placeholder="Confirm Password">
                </div>
                <div class="form-group">
                    <input asp-for="ZipCode" type="text" class="form-control" id="formGroupExampleInput2"
                           placeholder="Zipcode">
                </div>

                <div class="form-group">
                    <input asp-for="DateOfBirth" type="date" class="form-control" id="formGroupExampleInput2"
                           placeholder="Date of birth">
                </div>
                <div class="form-check">
                    <input class="form-check-input sp_cb" type="checkbox" value=""
                           id="flexCheckDefault">
                    <label class="form-check-label sp_lbl" for="flexCheckDefault">
                        Send me newsletters from Helperland
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input sp_cb" type="checkbox" value="" id="flexCheckDefault1">
                    <label class="form-check-label sp_lbl" for="flexCheckDefault1">
                        I accept <span style="color: #1fb6ff;">terms and conditions</span> & <span style="color: #1fb6ff;">privacy policy</span>
                    </label>
                </div>



                <button type="submit" class="btn btn-primary sp_sub_btn">
                    Get Started <img class="sp_right_arr" src="~/images/sp_right_arw.png">
                </button>

            </form>
        </div>

        <div class="sp_da">
            <a href="#sp_second"><img src="~/images/sp_down_arw.png"></a>
        </div>

    </div>

    <!-- second div starts from here -->

    <div id="sp_second">

        <div style="margin-top: 40px;" class="cont">
            How it works
        </div>

        <div class="sp_img_txt">
            <div class="sp_txt">
                <div class="sp_txt1">Register yourself</div>
                <div class="sp_txt2">
                    Provide your basic information to register
                    yourself as a service provider.
                </div>
                <div style="display: flex;">
                    <div class="sp_txt3">
                        Read more
                    </div>
                    <div class="">
                        <img class="sp_txt_right_arr" src="~/images/sp_right_arw.png">
                    </div>
                </div>
            </div>
            <div>
                <img class="sp_img" src="~/images/sp_img_1.png">
            </div>
        </div>


        <div class="sp_img_txt">
            <div>
                <img class="sp_img" src="~/images/sp_img_2.png">
            </div>
            <div class="sp_txt">
                <div class="sp_txt4">Get service requests</div>
                <div class="sp_txt2">
                    You will get service requests from
                    customes depend on service area and profile.
                </div>
                <div style="display: flex;">
                    <div class="sp_txt3">
                        Read more
                    </div>
                    <div class="">
                        <img class="sp_txt_right_arr" src="~/images/sp_right_arw.png">
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-bottom: 40px;" class="sp_img_txt">
            <div class="sp_txt">
                <div class="sp_txt1">Complete service</div>
                <div class="sp_txt2">
                    Accept service requests from your customers
                    and complete your work.
                </div>
                <div style="display: flex;">
                    <div class="sp_txt3">
                        Read more
                    </div>
                    <div class="">
                        <img class="sp_txt_right_arr" src="~/images/sp_right_arw.png">
                    </div>
                </div>
            </div>
            <div>
                <img class="sp_img" src="~/images/sp_img_3.png">
            </div>
        </div>

    </div>

    <div class="ftr_with_igs">

        <a style="display: none;" href="#first"><div class="one_cls">^</div></a>
        <div style="display: flex;flex-direction: column;">
            <div class="n_l">GET OUR NEWSLETTER</div>
            <div style="display: flex;flex-wrap: wrap;">
                <form style="display: flex;width: 100%; flex-wrap: wrap;text-align:center;">
                    <form style="display: flex;">
                        <input type="Email" class="mail" placeholder="Your Email">
                        <button class="bb_tt_nn">Submit</button>
                    </form>
                </form>
            </div>
        </div>

        <img style="display: none;" class="two_cls" src="~/images/last_ig.png">
    </div>

    <div class="faq_ff_main">
        <div class="faq_ff_2 final_footer">
            <a href="#"><img class="fin_foo_img_1" src="~/images/white-logo-transparent-background@2x.png"></a>
            <ul>
                <li><a style="color: white;" href="/Home">HOME</a></li>
                <li><a style="color: white;" href="Helperland/About">ABOUT</a></li>
                <li><a style="color: white;" href="#">TESTIMONIALS</a></li>
                <li><a style="color: white;" href="Helperland/FAQ">FAQS</a></li>
                <li><a style="color: white;" href="#">INSURANCE POLICY</a></li>
                <li><a style="color: white;" href="#">IMPRESSUM</a></li>
            </ul>
            <div>
                <a href="#"><img style="height: 18px;width: 9px; margin-top: 50px;margin-right: 20px;margin-bottom: 10px;" src="~/images/fb.png"></a>
                <a href="#"><img style="height: 18px;width: 18px;margin-top: 50px;margin-bottom: 10px;" src="~/images/insta.png"></a>
            </div>
        </div>

        <hr class="prices_hr">

        <div class="prices_rights" style="">©2018 Helperland. All rights reserved.     &nbsp;&nbsp;Terms and Conditions  |  Privacy Policy</div>
    </div>







    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(window).scroll(function () {
            $('nav').toggleClass('scrolled', $(this).scrollTop() > 10);
        });
    </script>


</body>
</html>