<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="~/css/style2.css">
</head>
<body>


    <nav class="navbar navbar-expand-lg contact_navbar fixed-top" style="background-color: #525252; ">
        <a style="margin-left: 10px; margin-top: 13px;" href="#"><img class="faq_nav_logo" src="~/images/white-logo-transparent-background@2x.png"></a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto con_nav_ul">
                <li class="nav-item active">
                    <a style="" class="nav-link" href="#" id="con_nav_item_booknow">Book now <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="/Helperland/Prices" id="con_nav_item_price">Prices & Services</a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="#" id="con_nav_item_war">Warranty</a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="#" id="con_nav_item_blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="/Helperland/Contact" id="con_nav_item_con">Contact</a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="#" id="con_nav_item_login" data-toggle="modal" data-target="#exampleModal">Login</a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="/Helperland/Become_helper" id="con_nav_item_bah">Become a helper</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login to your Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form style="margin-bottom: 15px;">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                        </div>
                        <button style="width: 90%;margin-top:10px; center;border-radius: 20px;background-color: #3398FF;margin-left: 5%;" type="submit" class="btn">
                            <a href="#" style="color: white;font-size: 18px;">Login</a>
                        </button>
                    </form>

                    <a href="#" id="id_FP" class="F_p" onclick="f1()" data-toggle="modal" data-target="#forgotpassword">Forgot Password?</a>
                    <div class="c_a">Don't have an Account? <a href="/Helperland/New_user">Create an Account</a></div>

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="forgotpassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-color: gray;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form style="margin-bottom: 15px;">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
                        </div>

                        <button style="width: 90%;text-align: center;border-radius: 20px;background-color: #3398FF;margin-left: 5%;" type="submit" class="btn">
                            <a href="#" style="color: white;font-size: 18px;">Send</a>
                        </button>
                    </form>

                    <a href="#" class="LN" data-toggle="modal" data-target="#forgotpassword">Login now</a>

                </div>

            </div>
        </div>
    </div>


    <div class="cont_faq_scnd">
        <img src="~/images/contact_first.png">
    </div>

    <div class="cont">
        Contact us
    </div>

    <div class="contact_arw">
        <div class="dec_lines">_______</div>&nbsp;
        <img class="dec_img" src="~/images/contact_arr.png">&nbsp;
        <div class="dec_lines">_______</div>
    </div>

    <div class="contact_imgs_main">
        <div class="con_img_inner">
            <img class="con_img1" src="~/images/contact_loc.png">
            <div class="contact_img1_txt">1111 Lorem ipsum text 100, Lorem ipsum AB</div>
        </div>
        <div class="con_img_inner">
            <img class="con_img2" src="~/images/contact_phone.png">
            <div style="margin-bottom: 0px;" class="contact_img2_txt">+49 (40) 123 56 7890</div>
            <div class="contact_img2_txt">+49 (40) 987 56 0000</div>
        </div>
        <div class="con_img_inner">
            <img class="con_img3" src="~/images/contact_mail.png">
            <div class="contact_img3_txt">info@helperland.com</div>
        </div>
    </div>

    <hr class="contact_hr1">

    <div class="cont">
        Get in touch with us
    </div>



    <form style="margin-top: 30px;">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputEmail4" placeholder="First Name">
            </div>
            <div class="form-group col-md-6">
                <input type="password" class="form-control" id="inputPassword4" placeholder="Last Name">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <input type="text" class="form-control" id="inputEmail4" placeholder="+49">
            </div>
            <div class="form-group col-md-5">
                <input type="text" class="form-control" id="inputPassword4" placeholder="Mobile number">
            </div>
            <div class="form-group col-md-6">
                <input type="Email" class="form-control" id="inputPassword4" placeholder="Email address">
            </div>
        </div>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Subject</option>
            <option>Subject 1</option>
            <option>Subject 2</option>
            <option>Subject 3</option>
            <option>Subject 4</option>
        </select>
        <textarea style="margin-top: 20px;" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>

        <div class="text-center">
            <button type="submit" class="btn btn-primary con_frm_btn">Submit</button>
        </div>
    </form>


    <div class="con_map"> <img src="~/images/contact_map.png"> </div>

    <div class="ftr_with_igs">

        <a style="display: none;" href="#first"><div class="one_cls">^</div></a>
        <div style="display: flex;flex-direction: column;">
            <div class="n_l">GET OUR NEWSLETTER</div>
            <div style="display: flex;flex-wrap: wrap;">
                <form style="display: flex;width: 100%; flex-wrap: wrap;text-align:center;">
                    <form style="display: flex;">
                        <input type="Email" class="mail f_1" placeholder="Your Email">
                        <input type="Email" class="mail f_2" placeholder="Email">
                        <button class="bb_tt_nn">Submit</button>
                    </form>
                </form>
            </div>
        </div>

        <img style="display: none;" class="two_cls" src="~/images/last_ig.png">
    </div>

    <div class="faq_ff_main">
        <div class="faq_ff_2 final_footer">
            <a href="#"><img class="fin_foo_img_1" src="~/images/white-logo-transparent-background@2x.png"></a>
            <ul>
                <li><a style="color: white;" href="/Home">HOME</a></li>
                <li><a style="color: white;" href="/Helperland/About">ABOUT</a></li>
                <li><a style="color: white;" href="#">TESTIMONIALS</a></li>
                <li><a style="color: white;" href="/Helperland/FAQ">FAQS</a></li>
                <li><a style="color: white;" href="#">INSURANCE POLICY</a></li>
                <li><a style="color: white;" href="#">IMPRESSUM</a></li>

            </ul>
            <div>
                <a href="#"><img style="height: 18px;width: 9px; margin-top: 50px;margin-right: 20px;margin-bottom: 10px;" src="~/images/fb.png"></a>
                <a href="#"><img style="height: 18px;width: 18px;margin-top: 50px;margin-bottom: 10px;" src="~/images/insta.png"></a>
            </div>
        </div>

        <hr class="prices_hr">

        <div class="prices_rights" style="">©2018 Helperland. All rights reserved.     &nbsp;&nbsp;Terms and Conditions  |  Privacy Policy</div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>