<html>
<head>

</head>
<body>
    <h2 style="color:green;width:100%;text-align:center;">Email is sent to given Email id, You can Create your new password using link given in email. Thanks!</h2>
</body>
</html>