<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


    <title>Upcoming Service</title>
    <link rel="stylesheet" type="text/css" href="~/css/style2.css">
</head>
<body>


    <nav class="navbar navbar-expand-lg us_navbar fixed-top">
        <a style="margin-left: 10px; margin-top: 13px;" href="#"><img class="faq_nav_logo" src="~/images/white-logo-transparent-background@2x.png"></a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto con_nav_ul">
                <li class="nav-item active">
                    <a style="" class="nav-link" href="#" id="us_nav_item_booknow">Prices & Services <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="#" id="us_nav_item_price">Warranty</a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="#" id="us_nav_item_war">Blog</a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="#" id="us_nav_item_blog">Contact</a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="#" id="us_nav_item_con"><span style="color: white; margin-right: 5px;">|</span> <img src="~/images/us_icon1.png"><sup class="us_ss">2</sup> <span style="color: white;margin-left: 2px;">|</span></a>
                </li>
                <li class="nav-item" style="margin-top: 4px;margin-right: 50px;">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20" style="background-color: transparent;margin-top: 0px;border:none;">
                            <img id="us_nav_pro" src="~/images/us_icon2.png">
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <div style="margin-left: 10px;">Welcome,<br>Sandip Patel</div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item cus_settings" href="#">Dashboard</a>
                            <a class="dropdown-item cus_settings" href="#">My Settings</a>
                            <a class="dropdown-item cus_settings" href="#">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="us_name" style="margin-top: 100px;">
        Welcome, <span style="font-weight: bold;">Sandip!</span>
    </div>

    <div class="us_table_main">

        <div class="us_table1">
            <div><a href="#" class="cus_side_items">Dashboard</a></div>
            <div><a href="#" class="cus_side_items">New Service Requests</a></div>
            <div style="background-color: #146371;"><a href="#" class="cus_side_items">Upcoming Services</a></div>
            <div><a href="#" class="cus_side_items">Service Schedule</a></div>
            <div><a href="#" class="cus_side_items">Service History</a></div>
            <div><a href="#" class="cus_side_items">My Ratings</a></div>
            <div><a href="#" class="cus_side_items">Block Customer</a></div>
        </div>


        <div class="us_table2">

            <div class="row us_table22">
                <div class="col-2 one">Serv<span class="us_ser_br"></span>ice ID <img class="us_t2_arr" src="~/images/us_table2_arw.png"> </div>
                <div class="col-2 two">
                    Serv<span class="us_ser_br"> </span>ice date
                </div>
                <div class="col-4 one">Customer details <img class="us_t2_arr" src="~/images/us_table2_arw.png"></div>
                <div class="col-2 two">Dist<span class="us_ser_br"></span>ance <img class="us_t2_arr" src="~/images/us_table2_arw.png"></div>
                <div class="col-2 one">Acti<span class="us_ser_br"></span>ons</div>
            </div>

            <div class="row us_table23">
                <div class="us_d2 col-2">3234<span class="us_id_br"></span>36</div>
                <div class="us_d1 col-2">
                    <div><img src="~/images/us_cal.png"> 09/04/<span class="us_yr_br"></span>2018</div>
                    <div><img src="~/images/us_clock.png">12:00<span class="us_clock_dash">-</span>18:00</div>
                </div>
                <div class="us_d1 col-4">
                    <div>David Bough</div>
                    <div><img style="height:18px;width: 18px;" src="~/images/us_home.png"> Musterstrabe 5,12345 Bonn</div>
                </div>
                <div class="us_d2 col-2">15 km</div>
                <div class="us_d2 col-2">
                    <button class="btn_cancel">
                        <span class="us_can">Cancel</span>
                        <span class="us_cl_icon"><i class="fas fa-window-close"></i></span>
                    </button>
                </div>
            </div>

        </div>

    </div>


    <div class="faq_ff_main">
        <div class="faq_ff_2 final_footer">
            <a href="#"><img class="fin_foo_img_1" src="~/images/white-logo-transparent-background@2x.png"></a>
            <ul>
                <li><a style="color: white;" href="#">HOME</a></li>
                <li><a style="color: white;" href="#">ABOUT</a></li>
                <li><a style="color: white;" href="#">TESTIMONIALS</a></li>
                <li><a style="color: white;" href="#">FAQS</a></li>
                <li><a style="color: white;" href="#">INSURANCE POLICY</a></li>
                <li><a style="color: white;" href="#">IMPRESSUM</a></li>
            </ul>
            <div>
                <a href="#"><img style="height: 18px;width: 9px; margin-top: 50px;margin-right: 20px;margin-bottom: 10px;" src="~/images/fb.png"></a>
                <a href="#"><img style="height: 18px;width: 18px;margin-top: 50px;margin-bottom: 10px;" src="~/images/insta.png"></a>
            </div>
        </div>

        <hr class="prices_hr">

        <div class="prices_rights" style="">©2018 Helperland. All rights reserved.     &nbsp;&nbsp;Terms and Conditions  |  Privacy Policy</div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>