<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


    <title>Customer</title>
    <link rel="stylesheet" type="text/css" href="~/css/style2.css">
</head>
<body>


    <nav class="navbar navbar-expand-lg us_navbar fixed-top">
        <a style="margin-left: 10px; margin-top: 13px;" href="#"><img class="faq_nav_logo" src="~/images/white-logo-transparent-background@2x.png"></a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto con_nav_ul">
                <li class="nav-item">
                    <a style="" class="nav-link" href="#" id="us_nav_item_Book_now">Book now</a>
                </li>
                <li class="nav-item active">
                    <a style="" class="nav-link" href="#" id="us_nav_item_booknow">Prices & Services <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="#" id="us_nav_item_price">Warranty</a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="#" id="us_nav_item_war">Blog</a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="#" id="us_nav_item_blog">Contact</a>
                </li>
                <li class="nav-item">
                    <a style="" class="nav-link" href="#" id="us_nav_item_con"><span style="color: white; margin-right: 5px;">|</span> <img src="~/images/us_icon1.png"><sup class="us_ss">2</sup> <span style="color: white;margin-left: 2px;">|</span></a>
                </li>
                <li class="nav-item" style="margin-top: 4px;margin-right: 50px;">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20" style="background-color: transparent;margin-top: 0px;border:none;">
                            <img id="us_nav_pro" src="~/images/us_icon2.png">
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <div style="margin-left: 10px;">Welcome,<br>@ViewBag.user</div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item cus_settings" href="#">Dashboard</a>
                            <a class="dropdown-item cus_settings" href="#">My Settings</a>
                            <a class="dropdown-item cus_settings" href="#">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <li><img id="us_nav_pro" src="~/images/us_icon2.png"></li>
    <li><img id="us_nav_opt" src="~/images/us_icon3.png"></li>


    <div class="us_name">
        Welcome, <span style="font-weight: bold;">Gaurang!</span>
    </div>

    <div class="us_table_main">

        <div class="us_table1">
            <div><a href="#" class="cus_side_items">Dashboard</a></div>
            <div style="background-color: #146371;"><a href="#" class="cus_side_items">Service History</a></div>
            <div><a href="#" class="cus_side_items">Service Schedule</a></div>
            <div><a href="#" class="cus_side_items">Favourite Pros</a></div>
            <div><a href="#" class="cus_side_items">Invoices</a></div>
            <div><a href="#" class="cus_side_items">Notifications</a></div>
        </div>


        <div class="us_table2">

            <div class="cus_sh_main">
                <div class="cus_sh">Service History</div>
                <button class="cus_export">Export</button>
            </div>

            <div class="row us_table22">
                <div class="col-3 one">Service Details <img class="us_t2_arr" src="~/images/us_table2_arw.png"> </div>
                <div class="col-3 two">
                    Service Provider <img class="us_t2_arr" src="~/images/us_table2_arw.png">
                </div>
                <div class="col-2 one">Pay<span class="cus_ment">ment</span> <img class="us_t2_arr" src="~/images/us_table2_arw.png"></div>
                <div class="col-2 two">Sta<span class="cus_tus">tus</span> <img class="us_t2_arr" src="~/images/us_table2_arw.png"></div>
                <div class="col-2 one">Rate SP</div>
            </div>

            <div class="row us_table23">
                <div class="us_d1 col-3">
                    <div style="font-weight: bold;"><img src="~/images/cus_cal.png"> 31/03/<span class="us_yr_br"></span>2018</div>
                    <div>12:00<span class="us_clock_dash">-</span>18:00</div>
                </div>

                <div class="col-3 us_d1 cus_hat_txt">
                    <div class="cus_ht">
                        <button><img src="~/images/cus_hat.png"></button>
                    </div>
                    <div class="cus_ht_txt">
                        <div class="cus_ht_txt1">Lyum Watson</div>
                        <div class="cus_ht_txt2">
                            <img src="~/images/cus_yellow_star.png">
                            <img src="~/images/cus_yellow_star.png">
                            <img src="~/images/cus_yellow_star.png">
                            <img src="~/images/cus_yellow_star.png">
                            <img src="~/images/cus_star.png">
                            <div>4</div>
                        </div>
                    </div>
                </div>

                <div class="col-2 cus_pay">
                    €63
                </div>

                <div class="col-2 cus_status">
                    <button><span class="cus_st_com">Completed</span> <i class="fa fa-check-circle cus_icon" aria-hidden="true"></i></button>
                </div>

                <div class="col-2 cus_rate">
                    <button>Ra<span class="cus_te">te</span> <span class="cus_rt">SP</span></button>
                </div>

            </div>

            
            <div class="cus_last_row">
                <div class="cus_last_left">
                    <div>
                        show &nbsp;
                    </div>
                    <select class="cus_sel">
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                    </select>
                    <div>&nbsp;&nbsp;entries &nbsp;Total Record: 55</div>
                </div>

                <div class="cus_last_right">
                    <button><img src="~/images/cus_left_play.png"></button>
                    <button><</button>
                    <button class="cus_b1">1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>></button>
                    <button><img src="~/images/cus_left_play.png"></button>
                </div>
            </div>

        </div>

    </div>


    <div class="faq_ff_main">
        <div class="faq_ff_2 final_footer">
            <a href="#"><img class="fin_foo_img_1" src="~/images/white-logo-transparent-background@2x.png"></a>
            <ul>
                <li><a style="color: white;" href="#">HOME</a></li>
                <li><a style="color: white;" href="#">ABOUT</a></li>
                <li><a style="color: white;" href="#">TESTIMONIALS</a></li>
                <li><a style="color: white;" href="#">FAQS</a></li>
                <li><a style="color: white;" href="#">INSURANCE POLICY</a></li>
                <li><a style="color: white;" href="#">IMPRESSUM</a></li>
            </ul>
            <div>
                <a href="#"><img style="height: 18px;width: 9px; margin-top: 50px;margin-right: 20px;margin-bottom: 10px;" src="~/images/fb.png"></a>
                <a href="#"><img style="height: 18px;width: 18px;margin-top: 50px;margin-bottom: 10px;" src="~/images/insta.png"></a>
            </div>
        </div>

        <hr class="prices_hr">

        <div class="prices_rights" style="">©2018 Helperland. All rights reserved.     &nbsp;&nbsp;Terms and Conditions  |  Privacy Policy</div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>